app = 'shielded-actions-backend'
primary_region = 'iad'

[build]

[env]
  PORT = '8080'
  MIX_ENV = 'prod'
  PHX_HOST = 'shielded-actions-backend.fly.dev'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '512mb'
  cpu_kind = 'shared'
  cpus = 1
